#introduction
  .row
    .large-12.columns
      .text-center
        %h1= "Your ##{hashtag} data"

#people
  .row
    .large-12.columns
      %h2 People you've met
      %ul.large-block-grid-3
        - 6.times do
          %li
            .info.text-center
              = link_to "#twitter_user_profile" do
                .avatar
                  %img.th{src:'http://placeimg.com/100/100/any'}
                %h4 Joe User
              %p.bio
                Foundation is an easy to use, powerful, and flexible framework for building prototypes and production code on any kind of device. Start here, build everywhere.

#tweets
  .row
    .large-12.columns
      %h2 Tweets you've twatted

      - ['before now'].each do |time_span|
        .row.date-group
          .large-2.columns
            %date= time_span
          .large-10.columns
            - tweets.each do |twit|
              .tweet.panel
                .row
                  .large-9.columns
                    %p.bio.lead
                      = nickname + ":"
                      = twit.text
                      - twit.hashtags.each do |tag|
                        %span.label= link_to "#" + tag.text, "http://www.twitter.com/search?q=%23#{tag.text}"

                    .mentions
                      %ul.inline-list
                        - twit.user_mentions.each do |mention|
                          %li
                            = link_to "http://www.twitter.com/#{mention.screen_name}" do
                              .user.avatar{title: mention.name, class:'has-tip tip-top', data:{tooltip:''}}
                                %img.th{src: "http://placeimg.com/50/50/any"}
                  .large-3.columns
                    .map
                      %img.th{src:"http://maps.googleapis.com/maps/api/staticmap?center=Austin,TX&zoom=13&size=400x400&maptype=roadmap&sensor=false&markers=color:red%7Ccolor:red%7Clabel:C%7C30.266109942151,-97.745935320854"}