#introduction
  .row
    .large-12.columns
      .text-center
        %h1= "##{hashtag} application"
        %p.lead
          Meet someone? Include the
          %span.label= "##{hashtag}"
          in your tweets and revisit that conversation
        %p (This desciption sounds like a dating app)
        = link_to '/auth/twitter', :class => 'button login large' do
          %i.fi-social-twitter
          %span Login with Twitter